
.menu-item-leads,.sub-menu-item-credit_notes,.sub-menu-item-child-media,.sub-menu-item-child-bulk-pdf-exporter,.sub-menu-item-child-goals-tracking,.sub-menu-item-child-database-backup,.sub-menu-item-child-kb-articles{
    display: none !important;
}
.content {
    margin-top: 63px;
    padding: 10px 25px 25px 25px;
    min-width: 320px;
}
#menu {
	margin-top: 4%;
    width: 210px;
    bottom: 0;
    float: left;
    left: 0;
    position: absolute;
    top: 63px;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    position: fixed;
    top: 0;
}
#setup-menu-wrapper {
    background-color: #626f80;
    position: absolute;
    top: 63px;
    width: 210px!important;
    bottom: 0;
    left: 0;
    overflow: auto;
    display: none;
    z-index: 9;
    min-height: 100%;
     position: fixed;
    top: 0;
    margin-top: 4%;
}
#header {
    background: #415165;
    background: -webkit-gradient(linear,left top,right top,from(#415165),color-stop(26%,#51647c),color-stop(73%,#51647c),to(#4f5d7a));
    background: linear-gradient(to right,#415165 0,#51647c 26%,#51647c 73%,#4f5d7a 100%);
    display: block;
    height: 63px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
   position: fixed;
    top: 0;
width: 100%;